<template>
  <div class="home" >
    <Products/>
  </div>
</template>

<script>
import Products from '@/components/Products.vue'

export default {
  name: 'Home',
  components: {
    Products
  }
}
</script>
