<template>
  <div class="payment">
    <div class="container">
      <h1>{{ product.name }}</h1>

      <div>
        <img :src="product.images[0]" :alt="product.name" />
      </div>

      <div class="main">
        <form @submit.prevent="submit">
          <div class="row">
            <div class="col-25">
              <label for="email">Email Address</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="email"
                name="email"
                v-model="paymentDetails.email"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="quantity">Quantity</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="quantity"
                v-model="paymentDetails.quantity"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="currency">Currency</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="currency"
                v-model="paymentDetails.currency"
              />
            </div>
          </div>

          <h2>Shipping Details</h2>
          <div class="row">
            <div class="col-25">
              <label for="name">Name</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="name"
                v-model="paymentDetails.shippingDetails.name"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="address">Address</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="address"
                v-model="paymentDetails.shippingDetails.address.line1"
              />
            </div>
          </div>

          <h2>Card Details</h2>
          <div class="row">
            <div class="col-25">
              <label for="number">Number</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="number"
                v-model="paymentDetails.cardDetails.number"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="exp_month">Expiry Month</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="exp_month"
                v-model="paymentDetails.cardDetails.exp_month"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="exp_year">Expiry Year</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="exp_year"
                v-model="paymentDetails.cardDetails.exp_year"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="cvc">CVC</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="cvc"
                v-model="paymentDetails.cardDetails.cvc"
              />
            </div>
          </div>

          <button type="submit" class="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Payment",
  data() {
    const product = this.getProducts().find(
      (item) => item.id === this.$route.params.id
    );
    return {
      paymentDetails: {
        sku: product.sku,
        email: "test@example.com",
        quantity: 1,
        currency: "inr",
        shippingDetails: {
          name: "xyz",
          address: {
            line1: "1234 Main Street",
          },
        },
        cardDetails: {
          number: "4242424242424242",
          exp_month: 11,
          exp_year: 2021,
          cvc: "314",
        },
      },
      product,
    };
  },
  computed: {
    ...mapGetters(["getPayment"]),
  },
  methods: {
    ...mapActions(["payment"]),
    ...mapGetters(["getProducts"]),
    submit: function() {
      this.payment(this.paymentDetails);
    },
  },
  watch: {
    getPayment: {
      handler: function() {
        this.$toast("Payment has been successfully proceed!");
        this.$router.push({
          path: `/`,
        });
      },
    },
  },
};
</script>

<style>
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.main {
  width: 50%;
  margin-left: 386px;
}

.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  color: black;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
