<template>
  <button :class="button" v-on:click="buy">Buy</button>
</template>

<script>
export default {
  name: "BuyButton",
  props: {
    id: String,
    name: String,
    image: String,
    sku: String,
  },
  methods: {
    buy: function() {
      this.$router.push({
        path: `/payment/${this.id}`,
      });
    },
  },
};
</script>
