<template>
  <div>
    <h1>Available Products</h1>
  </div>

  <div class="row">
    <div v-for="product in getProducts()" :key="product.id">
      <div class="column">
        <div class="card">
          <img
            :alt="product.name"
            :src="product.images[0]"
            style="width:100%"
          />
          <h1>{{ product.name }}</h1>
          <p class="price">Rs. {{ product.price }}</p>
          <p>
            {{ product.description }}
          </p>
          <p>
            <BuyButton
              :id="product.id"
              :name="product.name"
              :image="product.images[0]"
              :sku="product.sku"
            />
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import BuyButton from "@/components/BuyButton";
export default {
  name: "Products",
  components: {
    BuyButton,
  },
  methods: {
    ...mapActions(["setProducts"]),
    ...mapGetters(["getProducts"]),
  },
  data() {
    return {
      data: {},
    };
  },
  created() {
    this.setProducts()
  },
};
</script>

<style>
.full {
  width: 100%;
  height: auto;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  transition: width 1s;
}
img:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  border: 5px solid white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
